<p>banner works!</p>
<!-- <style>
    table, th, td {
      border: 3px solid black;
    }
</style>

{{ users | json }}
<h2>Our Team</h2>
<table>
<thead>
    <!-- <th><button (click)="ToggleImage()">{{ShowImage?'Hide':'Show'}}</button></th> -->
    <th>Name</th>
    <th>Mobile</th>
</thead>
<tbody>
    <tr *ngFor='let user of users' >
        <!-- <td><img [src]= "banner.ImageURL" [height]= "banner.ImageHeight" [width]= "banner.ImageWidth"/></td> -->
        <td>
            <a class="nav-link" [routerLink]="['/userlist',user.userID]">{{user.userName}}</a>
        </td>
        <td>{{user.userMobile}}</td>
    </tr>
</tbody>
</table> -->