<div class="card-deck" >
    <div class="card"  *ngFor='let card of cards'>
        <img class="card-img-top" [src]= "card.ImageUrl" alt="Card image cap">
        <div class="card-body" class="text-center">
            <h4 class="card-title">
                <strong>{{card.Title}}</strong>
            </h4>
            <h5 class="indigo-text">
                <strong>{{card.SubTitle}}</strong>
            </h5>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
</div>