<p>------------------------------------------------------</p>
Why array index start with Zero ? To be Find Out !!!
{{SampleFunction()}}
<!-- <button click='SampleFunction()'>Click !!!!</button> -->

<ul *ngFor='let user of users'>
    <ul *ngIf='user.userAge > 0'>
        <p><b>User Information: </b></p>
        <p>Name : {{ user.userName }}</p>
        <p>Age : {{ user.userAge }}</p>
        <p>Gender : {{ user.userGender }}</p>
        <p>Mobile : {{ user.userMobile }}</p>
        <p>Phone : {{ user.userPhone }}</p>
        <p>Mothly Income : {{ user.userIncome }}</p>
        <p>User Id : {{ user.userID }}</p>
    </ul>
</ul>
{{title}}
<p>
    <input type='text' value={{title}} [(ngModel)]=title>
<br>
<p>------------------------------------------------------</p>

<p>
    <b>
        To Do : ng g --help
    </b>
    application <br>
    class <br>
    component <br>
    directive <br>
    enum <br>
    guard <br>
    interceptor <br>
    interface <br>
    library <br>
    module <br>
    pipe <br>
    resolver <br>
    service <br>
    service-worker <br>
    web-worker<br>
</p>
<p>------------------------------------------------------</p>

<p> Type 1 : [disabled]=isDisable
    <input type='text' value={{title}} [disabled]=isDisable>
<br>

<p> bind-disabled=isDisable
    <input type='text' value={{title}} bind-disabled=isDisable>
<br>

<p>------------------------------------------------------</p>




