<p>header Start !</p>
<ul>
    <p><b>User Information: </b></p>
    <li *ngFor='let user of users'>
        <p>Name : {{ user.userName | uppercase }}</p>
        <p>Age : {{ user.userAge }}</p>
        <p>Gender : {{ user.userGender | lowercase }}</p>
        <p>Mobile : {{ user.userMobile }}</p>
        <p>Phone : {{ user.userPhone }}</p>
        <p>Mothly Income : {{ user.userIncome | currency :'INR' }}</p>
        <p>User Id : {{ user.userID }}</p>
        <p>User userAdhar : {{ user.userAdhar}}</p>
        <!-- To be Fix : <p>User userAdhar : {{ user.userAdhar | adhar: 10 }}</p> -->
</ul>
<p>header End !</p>